<div class="release-story-page">
  <app-header-banner-dark></app-header-banner-dark>
  <div class="release-story-content">
    <div class="page-moustache-navigation">
      <ul class="">
        <li class="moustache-navigation-item color-409EFF cursor-pointer f-w-600" routerLink="/">
          <span>首页&nbsp;>></span></li>
        <li class="moustache-navigation-item color-409EFF cursor-pointer f-w-600" routerLink="/personalCenter">
          <span>个人中心&nbsp;>></span></li>
        <li class="moustache-navigation-item" routerLink="/releaseStory">
          <span>故事分享</span></li>
      </ul>
    </div>
    <div class="release-story">
      <ul>
        <li class="release-story-item">
          <div class="release-story-title">
            <span>标题</span>
          </div>
          <div class="">
            <el-input [(model)]="releaseTitle" placeholder="请输入故事/作品标题……（10-50字）"></el-input>
          </div>
        </li>
        <li class="release-story-item">
          <div class="release-story-title">
            <span>分类</span>
          </div>
          <div class="">
            <ul class="dis-flex">
              <li class="color-484848 story-sort"
                  *ngFor="let storyTag of storyTags"
                  [ngClass]="{'choose-this':storyTag.choose && storyTag.id}"
                  (click)="chooseSort(storyTag)"
              >{{storyTag.name}}</li>
            </ul>
          </div>
        </li>
        <li class="release-story-item">
          <div class="release-story-title">
            <span>内容</span>
          </div>
          <div class="">
            <label>
              <textarea rows="10" style="height: 220px;max-height: 220px;min-height: 220px" [maxlength]="2000" nz-input [(ngModel)]="releaseContent"></textarea>
            </label>
          </div>
        </li>
        <li class="release-story-item">
          <div class="release-story-title">
            <span>图片上传</span>
          </div>
          <!--<app-file-upload></app-file-upload>-->
          <div class="clearfix">
            <nz-upload
              nzAction="/article/uploadImg"
              nzListType="picture-card"
              [(nzFileList)]="fileList"
              [nzShowButton]="fileList.length < 5"
              [nzShowUploadList]="showUploadList"
              [nzPreview]="handlePreview"
              [nzMultiple]="true"
              [nzLimit]="5"
              nzName="fileVal"
            >
              <i nz-icon type="plus"></i>
              <div class="ant-upload-text">点击上传</div>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </li>
      </ul>
      <div class="t-a-c m-t-30 m-b-30">
        <div class="release-story-btn" (click)="publishStory()">
          <span>发布</span>
        </div>
      </div>
    </div>
  </div>
  <app-footer-banner-light></app-footer-banner-light>
</div>
