.release-story-page{
  background: #f6f6f6;
  .release-story-content{
    width: 1024px;
    margin: 15px auto 0;
    padding-bottom: 15px;
    .page-moustache-navigation{
      padding: 0 20px;
      background: #fff;
      height: 40px;
      line-height: 40px;
      .moustache-navigation-item{
        //width: 82px;
        display: inline-block;
        padding-right: 15px;
      }
    }
    .release-story{
      margin-top: 10px;
      background: #fff;
      padding: 15px;
      ul{
        .release-story-item{
          margin: 15px 0;
          .release-story-title{
            line-height: 28px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
            color: #24292e;
          }
          .story-sort{
            cursor: pointer;
            margin: 0 15px;
            width: 80px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #ccc;
          }
          .choose-this{
            border: 1px solid #409EFF;
            box-shadow: 0 0 0 2px rgba(24,144,255,.2);
            color: #409EFF;
            font-weight: 600;
          }
        }
      }
      .release-story-btn{
        margin: 0 auto;
        width: 120px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        color: #ffffff;
        background: #409EFF;
      }
    }
  }
}
