<el-container>
  <el-main class="">
    <div class="_1pksixi">
      <app-header-banner></app-header-banner>
      <div class="_ro4v2s">
        <div class="_1bkpw4e"></div>
        <el-carousel height="480px">
          <el-carousel-item *ngFor="let item of imgLists">
            <div class="bannerImg">
              <img [src]="item.src" [alt]="item.src">
            </div>
          </el-carousel-item>
        </el-carousel>
        <div class="home-slogan-left">
          在这里见证永恒的爱
        </div>
        <div class="home-slogan-right">
          ————Forever 21
        </div>
      </div>
    </div>
    <div class="content">
      <div class="">
        <div class="current-modules">
          <div class="modules-title-wrap">
            <div class="modules-title">探索FOREVER21<i class="p-l-10" nz-icon nzType="alert" nzTheme="outline"></i></div>
          </div>
          <div class="current-modules-content">
            <ul class="dis-flex indexPage-ul-one">
              <li class="">
                <a routerLink="storySort/{{Landscape}}">
                  <div class="border-radius-5 po-si-re">
                    <img class="w-100 border-radius-5" src="https://forever21-1253218036.cos.ap-shanghai.myqcloud.com/template/current-modules-1.jpg" alt="">
                    <div class="discover-forever">
                      <div class="f-z-16">风景篇</div>
                      <div class="">徜徉山水间 不如吃茶去</div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="">
                <a routerLink="storySort/{{Character}}">
                  <div class="border-radius-5 po-si-re">
                    <img class="w-100 border-radius-5" src="https://forever21-1253218036.cos.ap-shanghai.myqcloud.com/template/current-modules-2.jpg" alt="">
                    <div class="discover-forever">
                      <div class="f-z-16">人物篇</div>
                      <div class="">会当凌绝顶 一览众山小</div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="">
                <a routerLink="storySort/{{Story}}">
                  <div class="border-radius-5 po-si-re">
                    <img class="w-100 border-radius-5" src="https://forever21-1253218036.cos.ap-shanghai.myqcloud.com/template/current-modules-3.jpg" alt="">
                    <div class="discover-forever">
                      <div class="f-z-16">故事篇</div>
                      <div class="">相看两不厌 只有敬亭山</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="">
        <div class="current-modules">
          <div class="modules-title-wrap">
            <div class="modules-title">最新作品<i class="p-l-10" nz-icon nzType="fire" nzTheme="outline"></i></div>
          </div>
          <div class="current-modules-content">
            <ul class="dis-flex indexPage-ul-two">
              <li class="" *ngFor="let story of latestWorks">
                <a routerLink="storyDetail/{{story._id}}">
                  <div class="po-si-re">
                    <img class="w-100 h-100 border-radius-5" [src]="story.DocUrl" alt="">
                    <span *ngIf="story.Like > 0" class="article-like"><i nz-icon type="like" theme="outline"></i>{{story.Like}}</span>
                  </div>
                  <div class="p-t-5">
                    <p></p>
                    <p class="story-title" style="-webkit-box-orient: vertical;">{{story.Title}}</p>
                    <p class="f-z-14 m-t-4 story-detail">{{story.Content}}</p>
                    <div class="dis-flex m-t-2 color-484848">
                      <div class="f-g-1">
                        <span class="icon iconfont icon-user story-whois-icon f-z-14 p-r-5"></span>
                        <span class="o-v-p story-whois">{{story.ArticleName}}</span>
                      </div>
                      <div class="f-g-1">
                        <span class="icon iconfont icon-time f-z-14 p-r-5"></span>
                        <span>{{story.Time}}</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="">
        <div class="current-modules">
          <div class="modules-title-wrap">
            <div class="modules-title">榜单作品<i class="p-l-10" nz-icon nzType="crown" nzTheme="outline"></i></div>
          </div>
          <div class="current-modules-content">
            <ul class="dis-flex indexPage-ul-one">
              <li class="" *ngFor="let story of rankingList">
                <a routerLink="storyDetail/{{story._id}}">
                  <div class="img-wrap-333 po-si-re">
                    <img class="w-100 h-100 border-radius-5" [src]="story.DocUrl" alt="">
                    <span *ngIf="story.Like > 0" class="article-like"><i nz-icon type="like" theme="outline"></i>{{story.Like}}</span>
                  </div>
                  <div class="p-t-5">
                    <p></p>
                    <p class="story-title" style="-webkit-box-orient: vertical;">{{story.Title}}</p>
                    <p class="f-z-14 m-t-4 story-detail">{{story.Content}}</p>
                    <div class="dis-flex m-t-2 color-484848">
                      <div class="f-g-1">
                        <span class="icon iconfont icon-user story-whois-icon f-z-14 p-r-5"></span>
                        <span class="o-v-p story-whois">{{story.ArticleName}}</span>
                      </div>
                      <div class="f-g-1">
                        <span class="icon iconfont icon-time f-z-14 p-r-5"></span>
                        <span>{{story.Time}}</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<el-button (click)="ngOnInit11()">默认按钮</el-button>-->
    <!--<el-button type="primary">主要按钮</el-button>-->
    <!--<el-button type="text">文字按钮</el-button>-->
    <!--<el-button>文字按钮</el-button>-->
    <!--<el-button [round]="true">文字按钮</el-button>-->
    <!--绑定的 model 与 label 值相同时就会被选中-->
    <!--<el-radio class="radio" [(model)]="radio" label="备选1">备选项1</el-radio>-->
    <!--<el-radio class="radio" [(model)]="radio" label="备选2">备选项2</el-radio>-->
    <!--<el-radio class="radio" [(model)]="radio" label="备选3">备选项3</el-radio>-->
  </el-main>
  <el-footer class="">
    <app-footer-banner-light></app-footer-banner-light>
  </el-footer>
</el-container>
<style>
  .swiper-container {
    width: 100%;
    height: 480px;
  }
</style>
