._1pksixi {
  height: 480px;
  transition: opacity 0.5s ease 0s;
  background: url("../../../public/images/stars.png") no-repeat center center;
}
._ro4v2s {
  //padding-left: 80px;
  //padding-right: 80px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  .home-slogan-left{
    position: absolute;
    top: 150px;
    left: 280px;
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
    z-index: 10;
    text-shadow: -3px 3px 5px #999999;
  }
  .home-slogan-right{
    position: absolute;
    top: 280px;
    right: 280px;
    color: #fff;
    font-size: 28px;
    z-index: 10;
    text-shadow: 3px 3px 2px #666;
  }
}
._1bkpw4e {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  width: 100%;
  transition: opacity 1s ease 0s;
}
.content{
  position: relative !important;
  min-height: 400px;
  max-width: 1080px !important;
  margin: 0 auto !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  background-color: transparent;
  div{
    .current-modules{
      margin-top: 40px;
      margin-bottom: 40px;
      .modules-title-wrap{
        padding-top: 20px;
        padding-bottom: 8px;
        .modules-title{
          font-weight: 800;
          font-size: 24px;
          line-height: 30px;
          color: #484848;
          padding-top: 2px !important;
          padding-bottom: 2px !important;
        }
      }
      .current-modules-content{
        margin-top: 8px;
        .indexPage-ul-one{
          margin-left: -8px !important;
          margin-right: -8px !important;
          li{
            width: 33.33333333333333% !important;
            padding-left: 8px;
            padding-right: 8px;
            a{
              .story-title{
                max-width: 333.33px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 18px;
                font-weight: 800;
                line-height: 22px;
                max-height: 44px;
              }
              .story-detail{
                max-height: 20px;
                max-width: 166.67px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
        .indexPage-ul-two{
          margin-left: -8px !important;
          margin-right: -8px !important;
          li{
            width: 25%;
            padding-left: 8px !important;
            padding-right: 8px !important;
            a{

            }
          }

        }
      }
    }
  }
}
