
._1pksixi {
  height: 480px;
  transition: opacity 0.5s ease 0s;
}
._ro4v2s {
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  margin: 0px auto;
  height: 100%;
}
._1bkpw4e {
  position: absolute;
  left: auto;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  transition: opacity 1s ease 0s;
  background-position: center center;
  background-image: url("../../../public/images/stars.png");
}
