<app-header-banner></app-header-banner>
<el-container>
  <el-main class="">
    <div class="_1pksixi">
      <div class="_ro4v2s">
        <div class="_1bkpw4e"></div>
      </div>
    </div>
    身体text
    <div class="">
      <div class="modules-title">探索FOREVER21</div>
      <div class="">
        <ul class="dis-flex">
          <li class="">

          </li>
          <li class=""></li>
          <li class=""></li>
        </ul>
      </div>
    </div>
    <div class="">

    </div>
    <el-button (click)="ngOnInit11()">默认按钮</el-button>
    <el-button type="primary">主要按钮</el-button>
    <el-button type="text">文字按钮</el-button>
    <el-button>文字按钮</el-button>
    <el-button [round]="true">文字按钮</el-button>
    <!--绑定的 model 与 label 值相同时就会被选中-->
    <el-radio class="radio" [(model)]="radio" label="备选1">备选项1</el-radio>

    <el-radio class="radio" [(model)]="radio" label="备选2">备选项2</el-radio>

    <el-radio class="radio" [(model)]="radio" label="备选3">备选项3</el-radio>
  </el-main>
  <el-footer class="">
    尾
  </el-footer>
</el-container>
