<div class="about-page">
  <div class="about-page-bgi"></div>
  <app-header-banner-dark></app-header-banner-dark>
  <div class="about-page-content">
    <div class="about-page-content-bg">
      <ul class="">
        <li class="m-t-50">
          <div class="color-fff">
            <h1 class="p-t-10 p-b-10 color-fff">Forever 21 简介</h1>
            <p class="forever-21-intro">
              "Forever 21"是是刚诞生不久的集摄影,美图,社区于一体的摄影交流平台.她秉持着"去芜存菁,真爱永存"的主旨,全力为喜欢摄影,并认同此宗旨的朋友们创建一个通过自己作品,分享自己当时的心情和每张照片背后的故事的平台.
            </p>
          </div>
        </li>
        <li class="m-t-50">
          <div class="color-fff">
            <h1 class="p-t-10 p-b-10 color-fff">愿景</h1>
            <p class="forever-21-intro">
              "Forever 21"有志于成为人们通过一幅幅作品,勇敢的表达出作品包含的"情".爱情,亲情,友情,战友情,手足情......正如"Forever
              21"——永恒的爱.在我们以后的年代里，由"Forever 21"和您一起铭记当时的雄心壮志,海枯石烂......
            </p>
          </div>
        </li>
        <li class="m-t-50">
          <div class="color-fff">
            <h1 class="p-t-10 p-b-10 color-fff">历程</h1>
            <dl>
              <dt>2018-11-12</dt>
              <dd>
                <p class="forever-21-intro">
                  "Forever 21"的第一行代码被敲下."合抱之木，生于毫末；九层之台，起于累土",她以后的波澜壮阔便从这天开始了.
                </p>
              </dd>
            </dl>
            <dl>
              <dt>2018-11-28</dt>
              <dd>
                <p class="forever-21-intro">
                  "Forever 21"源于".ai"后缀的域名,加上其本身蕴含的深刻含义,于是她便在这天"诞生"了.
                </p>
              </dd>
            </dl>
            <dl>
              <dt>2018-11-29</dt>
              <dd>
                <p class="forever-21-intro">
                  "Forever 21"的第一个云服务器在阿里云诞生,但因为ai后缀不能在我国备案,转而架设海外服务器.
                </p>
              </dd>
            </dl>
          </div>
        </li>
        <li class="m-t-50">
          <div class="color-fff">
            <h1 class="p-t-10 p-b-10 color-fff">团队</h1>
            <div class="dis-flex">
              <div class="team-avatar team-avatar-1"></div>
              <p class="forever-21-intro p-l-20">
                "余温gentle",毕业于洛阳师范学院软件工程网络媒体设计专业.喜欢音乐,唱歌,还喜欢听老歌.他是一个热爱自由的年轻程序猿,也是"Forever
                21"的设计者与实现者.
              </p>
            </div>
          </div>
        </li>
        <li class="p-b-100"></li>
      </ul>
    </div>
  </div>
  <app-footer-banner></app-footer-banner>
</div>
