<div class="personal-center">
  <app-header-banner-dark></app-header-banner-dark>
  <!--<div class="moustache-h50"></div>-->
  <div class="personal-center-cover"></div>
  <div class="personal-center-header">
    <div class="dis-flex justify-content-center bg-fff">
      <!--<div class="">-->
        <!--<span>点赞<br>0</span>-->
      <!--</div>-->
      <div class="t-a-c personal-info">
        <img src="assets/images/user-default.png" alt="user-default">
        <div class="user-name">
          {{userName}}
        </div>
        <div class="sign-nature">
          <span>一句话描述自己吧~</span>
          <span class="icon iconfont icon-ai61 p-l-10 color-3A2A95"></span></div>
      </div>
      <!--<div class=""></div>-->
    </div>
  </div>
  <div class="personal-center-content">
    <ul class="personal-center-title dis-flex">
      <li class="p-r-20">作品/故事</li>
      <!--<li class="">收到的赞 (200)</li>-->
    </ul>
    <div class="bg-fff p-t-10 p-b-30 cursor-pointer">
      <div class="">
        <ul>
          <li class="owner-article-list" *ngFor="let article of ownerArticleList">
            <a routerLink="storyDetail/{{article._id}}">
              <div class="ownerArticle-img-wrap">
                <img class="w-100 h-100 border-radius-5" [src]="apiUrl+article.DocUrl" alt="">
              </div>
              <div class="">
                <p class="o-v-p article-title">{{article.Title}}</p>
                <p class="o-v-p article-content">{{article.Content}}</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="hiddenArticleList" class="bg-fff p-t-10 p-b-30 cursor-pointer" (click)="releaseStory()">
      <div class="qv-icon-box"></div>
      <div class="qv-alert-text">
        您还没有上传任何作品/故事<br>
        去和大家分享您的作品吧~
      </div>
    </div>
  </div>
  <!--<div class="moustache-h20"></div>-->
  <app-footer-banner-light></app-footer-banner-light>
</div>
