<div class="personal-center">
  <app-header-banner-dark></app-header-banner-dark>
  <!--<div class="moustache-h50"></div>-->
  <div class="personal-center-cover"></div>
  <div class="personal-center-header">
    <div class="dis-flex justify-content-center bg-fff">
      <!--<div class="">-->
        <!--<span>点赞<br>0</span>-->
      <!--</div>-->
      <div class="t-a-c personal-info">
        <img src="assets/images/user-default.png" alt="user-default">
        <div class="user-name">
          馒头花卷
        </div>
        <div class="sign-nature">
          <span>一句话描述自己吧~</span>
          <span class="icon iconfont icon-ai61 p-l-10 color-3A2A95"></span></div>
      </div>
      <!--<div class=""></div>-->
    </div>
    <div class="moustache-h20"></div>
    <div class="personal-center-content">

    </div>
  </div>
</div>
