<div class="story-detail-page">
  <app-header-banner-dark></app-header-banner-dark>
  <div class="story-detail-wrap">
    <div class="story-detail-content">
      <div class="story-detail-head">
        <div>
          <img class="story-detail-avatar" src="assets/images/user-default.png" alt="user-default">
        </div>
        <div class="p-l-15 l-h-30">
          <span class="d-b">{{storyInfo.ArticleID}}</span>
          <span class="d-b">{{storyInfo.Time}}</span>
        </div>
      </div>
      <div class="story-detail-imgList m-b-30">
        <img *ngFor="let img of storyInfo.DocUrl" class="m-t-30" [src]="apiUrl+img" alt="">
      </div>
      <div class="story-detail-article">
        <h2>{{storyInfo.Title}}</h2>
        <p class="">{{storyInfo.Content}}</p>
      </div>
      <div class="">
        <span class="color-409EFF">{{storyInfo.Like}}人已赞</span>
      </div>
      <div class="story-detail-footer">
        <div class="cursor-pointer">
          <span class="icon iconfont icon-diamond story-like f-z-24"></span>
        </div>
        <p>赞</p>
      </div>
    </div>
  </div>
  <app-footer-banner-light></app-footer-banner-light>
</div>
