.register-page-bg{
  .register-page-bgi{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease 0s;
    background: url("http://forever21.oss-cn-shanghai.aliyuncs.com/forever21/bg1.png?Expires=1553595564&OSSAccessKeyId=TMP.AQG3gsmL1TEGuQP73v8rxUukCLyvYg_UkmjjfSzLeKiqeS52axujUeo15zcUADAtAhQlVduxkZ3pc4oeNGioFJZldDbWEQIVANGQ8tLDqhomnVkOa_ew2wvVOUTM&Signature=D5LgskONKMt2gxp7srlXshD7%2Ff4%3D") no-repeat center center;
  }
  .registered-box-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .registered-box-content{
      width: 600px;
      height: 350px;
      //background: rgba(255, 255, 255, 0.2);
      background: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      .registered-page-userName,
      .registered-page-password,
      .registered-btn{
        //background: rgba(255, 255, 255, 0.9);
        background: rgba(0, 0, 0, 0.2);
        opacity: .9;
      }
      .registered-page-userName::-webkit-input-placeholder,
      .registered-page-password::-webkit-input-placeholder{
        color:#fff;
      }
      .registered-btn{
        text-align: center;
        width: 250px;
        box-shadow: 0 0 5px #696969;
        cursor: pointer;
        .forget-password{
          position: absolute;
          right: -120px;
          top: -27px;
        }
      }
      .registered-link-btn:hover{
        color:#F27860;
      }
    }
  }
}
