<div class="register-page-bg">
  <app-header-banner></app-header-banner>
  <div class="registered-box-wrap t-a-m">
    <div class="registered-box-content">
      <div class="p-t-20 p-b-20 p-r-30 p-l-30 f-g-1">
        <ul>
          <li class="dis-flex">
            <div class="p-t-20 p-b-20 f-g-1">
              <div class="p-t-10 p-b-15">
                <input class="w-100 registered-page-userName color-fff" [(ngModel)]="userName" name=""
                       type="text" title="UserName" placeholder="UserName">
              </div>
              <div class="p-t-15 p-b-10">
                <input class="w-100 registered-page-password color-fff"  [(ngModel)]="passWord" name=""
                       type="password" title="PassWord" placeholder="PassWord">
              </div>
            </div>
          </li>
          <li class="justify-content-center dis-flex">
            <div class="color-fff registered-btn h-40 l-h-40 po-si-re" (click)="Registered()">
              Register
            </div>
          </li>
          <li class="t-a-c m-t-10">
            <span class="color-fff h-40 l-h-40 f-z-12">返回 <a class="registered-link-btn" routerLink="/login">登录</a></span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
