/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-width: 1080px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul{
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

[lang^="zh"] body {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, serif
}

ul, ol, dl {
  list-style: none;
}

ul, menu, dir {
  margin-block-start: 0px;
  //margin-block-end: 0px;
  //margin-inline-start: 0px;
  //margin-inline-end: 0px;
  //padding-inline-start: 0px;
}
::-webkit-scrollbar{width:8px;}
::-webkit-scrollbar-track{background-color:#eee;}
::-webkit-scrollbar-thumb{background-color:#ccc;}
::-webkit-scrollbar-thumb:hover {background-color:#999}
::-webkit-scrollbar-thumb:active {background-color:#eee}

input {
  -webkit-appearance: textfield;
  //background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  border-width: 1px;
  border-image: initial;
  padding: 5px 8px;
  height: 40px;
  line-height: 40px;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: unset;
}

:focus {
  outline: 0;
}

input[type=text] {
  border-radius: 5px;
}

input[type=password] {
  border-radius: 5px;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}

.border-radius-5{
  border-radius: 5px;
}

.po-si-re {
  position: relative;
}

.d-i-b {
  display: inline-block;
}

.dis-flex {
  display: flex;
}

.f-g-1 {
  flex-grow: 1;
}

.t-a-s {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.t-a-m {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.t-a-e {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.shadow-bottom-1 {
  box-shadow: 0 1px 0 #EBEBEB;
}

.justify-content-space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.m-w-100 {
  min-width: 100%;
}

.h-40{
  height: 40px;
}

.l-h-40{
  line-height: 40px;
}

.h-100 {
  height: 100%;
}

.m-h-100 {
  min-height: 100%;
}

.cursor-pointer{
  cursor: pointer;
}

.o-v-p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t-a-c {
  text-align: center;
}

.t-a-r{
  text-align: right;
}

.bg-fff {
  background-color: #fff;
}

.moustache-h20{
  width: 100%;
  height: 20px;
  background-color: #f6f6f6;
}

.moustache-h50{
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
}

.color-fff {
  color: #fff;
}

.color-999 {
  color: #999;
}

.color-484848 {
  color: #484848;
}

.color-3A2A95{
  color:#3A2A95
}

.color-409EFF{
  color:#409EFF
}

.f-w-600 {
  font-weight: 600;
}

.f-z-12{
  font-size: 12px;
}

.f-z-14 {
  font-size: 14px;
}

.f-z-16 {
  font-size: 16px;
}

.f-z-18 {
  font-size: 18px;
}

.f-z-20 {
  font-size: 20px;
}

.f-z-22 {
  font-size: 22px;
}

.f-z-24 {
  font-size: 24px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-t-50{
  margin-top: 50px;
}

.m-t-80{
  margin-top: 80px!important;
}

.m-t-100{
  margin-top: 100px!important;
}

.p-b-100{
  padding-bottom: 100px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-30 {
  padding-left: 30px;
}

//ele样式覆盖
.el-main {
  padding: 0 !important;
  overflow: hidden !important;
}
