.header-banner {
  height: 80px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 5;
}
._1g2dfiu {
  height: 80px;
  line-height: 80px;
  padding: 0px 8px;
  border-bottom: 2px solid transparent;
}
._1g2dfiu:hover {
  border-bottom: 2px solid rgb(255,255,255);
}
._gngqxi {
  padding: 8px;
}
._gngqxi>a {
  color: rgb(255,255,255);
}
