._hgs47m {
  display: table !important;
  width: 100% !important;
  border-spacing: 0 !important;
}
._ni9axhe {
  display: table-cell !important;
  vertical-align: middle !important;
}
._10ejfg4u {
  display: table-cell !important;
  width: 100% !important;
  vertical-align: middle !important;
}
._cfvh61 {
  display: inherit !important;
}
._1s04l2o {
  display: table !important;
  height: 64px !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
._1g2dfiu {
  display: table-cell !important;
}
