<header class="header-banner f-w-600 dis-flex justify-content-space-between">
  <div class="header-banner-one"></div>
  <div class="header-banner-two"></div>
  <div class="header-banner-three">
    <div class="header-banner-three-wrap">
      <nav>
        <ul class="dis-flex">
          <li class="_1g2dfiu">
            <span class="_gngqxi"><a routerLink="/about">关于我们</a></span></li>
          <li class="_1g2dfiu">
            <span class="_gngqxi"><a routerLink="/story">故事</a></span></li>
          <li class="_1g2dfiu">
            <span class="_gngqxi"><a routerLink="/help">帮助</a></span></li>
          <li class="_1g2dfiu">
            <span class="_gngqxi"><a routerLink="/registered">注册</a></span></li>
          <li class="_1g2dfiu">
            <span class="_gngqxi"><a routerLink="/login">登录</a></span></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
